.home{
    background-color:transparent;
    width:85%;
    margin:auto;
}
.web{
    background-color:#f8f9fa ;
}
.logo{
    color:#070F4D;
    font-size:2rem;
}
.banner{
   display:flex;
   width:100%;
   padding-bottom: 5rem;
}
.head{
    width:49%
}
.color{
    color: #caab06;
}
.head h1{
    font-size: 3rem;
    color:#070F4D ;
    padding-top: 2rem;
}
.head h2{
    font-size: 3rem;
    color:#070F4D ;

}
.imgborder{
    
  
    
}

.headimg{
    width:49%;
    
}
.button a{
    background-color:#caab06;
    text-decoration: none;
    color:white;
    padding: 1.5rem;
    font-size: 1.2rem;
}
.about{
    display:flex;
        
}
.content h1{
    color:#070F4D;
    font-size: 2.7rem;
}
.content i{
    font-size: 1.4rem;
}
.aboutbut{
    padding-top: 3rem;
}
.aboutbut a{
    background-color: #caab06;
    color:white;
    padding: 1.2rem;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}
.content h3{
    color:#caab06;
}
.content h3::before{
    content:"________";
    width:20%;
    height:20vh;
    color: #caab06;
}